.df_jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-jcs_aic {
  display: flex;
  justify-content: start;
  align-items: center;
}
.df_jce_aic {
  display: flex;
  align-items: center;
  justify-content: end;
}
a {
  text-decoration: none;
  color: white;
}
ul,
li {
  list-style: none;
}
.mt_20 {
  margin-top: 20px;
}
body {
  /* background-color: black; */
}

.menu__button {
  padding: 10px 0;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5 ease-in-out;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 10px;
}
.menu__button:hover {
  transition: 0.5 ease-in-out;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid rgb(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s ease-in-out infinite;
  box-shadow: -3px -3px 10px rgb(255, 255, 255, 0.7),
    3px 3px 10px rgba(255, 255, 255, 0.35),
    inset -3px -3px 10px rgb(255, 255, 255, 0.7),
    inset 3px 3px 10px rgba(255, 255, 255, 0.35);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
