.df_jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-jcs_aic {
  display: flex;
  justify-content: start;
  align-items: center;
}
.df_jce_aic {
  display: flex;
  align-items: center;
  justify-content: end;
}
a {
  text-decoration: none;
  color: white;
}
ul,
li {
  list-style: none;
}
.mt_20 {
  margin-top: 20px;
}
body {
  background-color: black;
}

.menu__button {
  padding: 10px 0;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5 ease-in-out;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 10px;
}
.menu__button:hover {
  transition: 0.5 ease-in-out;
}
