.mainBox__left .leftBox {
  width: 90%;
  height: 95%;
  border: 1px solid white;

  padding: 20px;

  display: flex;
  flex-direction: column;
}
.mainBox__left .leftBox .visit__count {
  padding: 10px;

  margin-bottom: 20px;
}
.mainBox__left .leftBox .visit__count span {
  padding-right: 10px;
  padding-left: 10px;
}

.mainBox__left .leftBox .imgBox {
  position: relative;
  border-radius: 10%;
  margin-bottom: 20px;
  max-width: 100%;
  min-height: 40%;

  border: 2px solid white;

  overflow: hidden;
}
.mainBox__left .leftBox .imgBox img {
  width: 100%;
  height: 100%;
}
.mainBox__left .leftBox .imgBox input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.conversation__Text {
  border-radius: 10%;
  max-width: 100%;
  min-height: 40%;
  padding: 20px;
  margin-bottom: 20px;

  cursor: pointer;
}
